.all-countries {
  display: flex;
  flex-direction: column;
}

.all-countries-filter {
  display: flex;
  align-self: center;
  align-items: baseline;
}

.all-countries--title {
  align-self: center;
}

.all-countries--count {
  align-self: center;
}
