.country-card {
  margin: 0px 10%;
  padding: 20px;
}

.country-card:hover {
  background-color: lightgray;
  transition: background-color 0.1s linear;
}

.country-card + .country-card {
  border-top: 1px solid gray;
}

.country-card--content {
  display: flex;
}

.country-card--facts {
  margin-left: 20px;
}

.country-card--flag {
  width: 300px;
  margin-bottom: auto;
}

.country-card--fact_title {
  font-weight: bold;
}

.all-countries-filter_item {
  padding: 10px;
}
