.input-quiz-title {
  color: var(--secondary);
  margin-bottom: 30px;
}

.flag-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.input-section {
  display: flex;
  align-items: center;
}

.input-section > img {
  height: 50px;
  cursor: pointer;
  padding: 5px;
}
.input-section > img:hover {
  background-color: var(--primary);
  transition: background-color 0.4s ease;
  border-radius: 10px;
}

.quiz-input {
  font-size: large;
  padding: 10px;
  text-indent: 10px;
  margin: 10px 30px;
  width: 400px;
  max-width: 50vw;
}

.flag-quiz--flag {
  max-height: 50vh;
  border: 1px solid black;
  max-width: 80vw;
}

.input-quiz-prompt {
  font-size: 40px;
}
