nav {
  background-color: #568bdb;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.nav--logo {
  height: 50px;
  margin-right: 20px;
}

.nav--title {
  color: white;
}

.nav--menu {
  list-style-type: none;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #568bdb;
}

.nav--menu > li {
  float: left;
}

.nav--menu > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.7s ease;
}

a:hover {
  background-color: #98b9eb;
}
