.quiz-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz--title,
.filters-header {
  text-align: center;
  color: var(--secondary);
}

.filters-header {
  margin-top: 40px;
  margin-bottom: 0;
}

.quiz-options > ul {
  list-style: none;
}

.quiz-options > ul > li {
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--secondary);
  float: left;
  background-color: var(--primary);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 5px;
}

.quiz-options > ul > li:hover {
  cursor: pointer;
  background-color: var(--secondary);
  transition: all 0.5s ease;
  color: var(--primary);
}
